.vscode/**
.vscode-test/**
.github/**
src/**
webview/src/**
test/**
docs/**
logs/**
node_modules/**
out/**
.gitignore
.eslintrc.json
.prettierrc
.mocharc.yml
tsconfig.json
tsconfig.test.json
esbuild.config.mjs
webview/esbuild.config.mjs
webview/tsconfig.json
**/*.ts
**/*.map
.env
foreman.yaml
*.tmp
*.vsix
